@page
@model MagazinAuto.Pages.ShoppingbagModel
@{
    ViewData["Title"] = "Shoppingbag";
}
<!-- To do rezolva path wroot css pentru script tag >-->
<style>
    .form-style-1 {
        max-width: 400px;
        padding: 20px 12px 10px 20px;
        font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }

        .form-style-1 li {
            padding: 0;
            display: block;
            list-style: none;
            margin: 10px 0 0 0;
        }

        .form-style-1 label {
            margin: 0 0 3px 0;
            padding: 0px;
            display: block;
            font-weight: bold;
        }

        .form-style-1 input[type=text],
        .form-style-1 input[type=date],
        .form-style-1 input[type=datetime],
        .form-style-1 input[type=number],
        .form-style-1 input[type=search],
        .form-style-1 input[type=time],
        .form-style-1 input[type=url],
        .form-style-1 input[type=email],
        textarea,
        select {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            border: 1px solid #BEBEBE;
            padding: 7px;
            margin: 0px;
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            outline: none;
        }

            .form-style-1 input[type=text]:focus,
            .form-style-1 input[type=date]:focus,
            .form-style-1 input[type=datetime]:focus,
            .form-style-1 input[type=number]:focus,
            .form-style-1 input[type=search]:focus,
            .form-style-1 input[type=time]:focus,
            .form-style-1 input[type=url]:focus,
            .form-style-1 input[type=email]:focus,
            .form-style-1 textarea:focus,
            .form-style-1 select:focus {
                box-shadow: 0 0 8px red;
                border: 1px solid #FB2F2F;
            }

        .form-style-1 .field-divided {
            width: 49%;
        }

        .form-style-1 .field-long {
            width: 100%;
        }

        .form-style-1 .field-select {
            width: 100%;
        }

        .form-style-1 .field-textarea {
            height: 100px;
        }

        .form-style-1 .required {
            color: red;
        }

    .button {
        background-color: #9A1010; /* Green */
        border: none;
        color: white;
        padding: 16px 87px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .buttoneliminare {
        background-color: #AA2626; /* Green */
        border: none;
        color: white;
        padding: 7px 17px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1:hover {
        background-color: #555555;
        color: white;
        padding: 17px 88px;
        font-size: 17px;
    }

    .buttoneliminare1:hover {
        background-color: #555555;
        color: white;
        padding: 8px 18px;
    }

    .column {
        float: left;
        width: 40%;
        padding: 10px;
        height: 100%;
        border-top: solid;
        border-color: grey;
    }

    .column1 {
        float: left;
        width: 80%;
        padding: 10px;
        height: 100%;
        border-top: solid;
        border-color: grey;
    }

    .column2 {
        float: left;
        width: 20%;
        padding: 10px;
        height: 300px;
        border-top: solid;
        border-color: grey;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .gradient1 {
        background: linear-gradient(to left, white, #BFBFBF);
    }

    .gradient2 {
        background: linear-gradient(to right, white, #BFBFBF);
        height: 10%;
    }

    .row {
        display: table-row;
    }

    .cell {
        display: table-cell;
    }

    .text {
        font: 18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }

    .body {
        background-image: url("/images/Hangar_home.jpg");
        background-repeat: no-repeat;
        height: 100%;
        background-size: cover;
        margin: 0;
    }

    .h {
        text-shadow: 1px 1px 10px black;
        color: white;
    }
</style><!--To do rezolva path wroot css pentru script tag >-->

<script src="~/css/"></script>

<body class="body">
</body>
<h1 class="h"> Shopping bag</h1><br />
<div>
    <div class="column1 gradient1 text">
        <h2>List of items you want to buy</h2>

        <!--at{
        foreach (var prod in products)
        {
            <div class="cell">
                <label>Nume produs: </label>aprod.Nume
                <label>Pret produs: </label>aprod.Pret
                <button class="buttoneliminare buttoneliminare1"> Add </button>
                bag <- false
            </div>
        }
    }-->

        <div class="row text">
            <div class="cell">
                Item 1 luat din db
            </div>
            <div class="cell">
                <button class="buttoneliminare buttoneliminare1"> Remove </button>
            </div>
        </div>
        <div class="row text">
            <div class="cell">
                Item 2 luat din data base
            </div>
            <div class="cell">
                <button class="buttoneliminare buttoneliminare1"> Remove </button>
            </div>
        </div>
    </div>
    <div class="column2 gradient2 text">
        <h2>Info</h2>
        <p>Items added:functie care ia din db</p>
        <p>Total price:functie care ia din db</p>
    </div>

    <form class="column gradient1" id="buy">
        <ul class="form-style-1">
            <li>
                <label>Full Name <span class="required">*</span></label>
                <input type="text" id="nume" name="field1" class="field-divided" placeholder="First" />&nbsp;<input type="text" name="field2" class="field-divided" placeholder="Last" />
            </li>
            <li>
                <label>Email <span class="required">*</span></label>
                <input type="email" id="prenume" name="field3" class="field-long" placeholder="mail@example.com" />
            </li>
            <li>
                <label>Telephone</label>
                <input type="text"  id="telefon" name="field4" class="field-long" placeholder="Telephone" />
            </li>
            <li>
                <label>Adress</label>
                <textarea name="field5" id="adresa" class="field-long field-textarea" placeholder="Type your adress here"></textarea>
            </li>
            <li>
                <label>Your Message</label>
                <textarea name="field6" id="mesaj" class="field-long field-textarea" placeholder="Type additional messages here"></textarea>
            </li>
            <li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button input type="submit" class="button button1"> Buy </button>
            </li>
        </ul>
    </form>
</div>

<script>
    var buy = document.getElementById('buy');
    buy.onsubmit = function () {
        console.log(buy.title.value, buy.message.value);
        var db = Database.Open("Database.mdf");
        var insertCommand = "INSERT INTO Comanda (Nume, Prenume, Email, Telefon, Adresa, Mesaj) VALUES(buy.nume.value, buy.prenume.value, buy.email.value, buy.telefon.value, buy.adresa.value, buy.mesaj.value)";
        db.Execute(insertCommand, buy.nume.value, buy.prenume.value, buy.email.value, buy.telefon.value, buy.adresa.value, buy.mesaj.value);
        //Response.Redirect("~/News"); daca vreau sa vad ce am introdus
    }
</script>