@page
@model MagazinAuto.Pages.StoreModel
@{
    ViewData["Title"] = "Store";
}

<!--To do rezolva path wroot css pentru script tag >-->

<style>
    .button {
        background-color: #9A1010; /* red */
        border: none;
        color: white;
        padding: 16px 87px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .buttoneliminare {
        background-color: #AA2626; /* red */
        border: none;
        color: white;
        padding: 7px 17px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1:hover {
        background-color: #555555;
        color: white;
        padding: 16px 88px; /* modifica marime buton la hover */
        font-size: 17px; /* mareste textu*/
    }

    .buttoneliminare1:hover {
        background-color: #555555;
        color: white;
        padding: 8px 18px;
    }

    .form-style-1 {
        max-width: 400px;
        padding: 20px 12px 10px 20px;
        font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }

        .form-style-1 li {
            padding: 0;
            display: block;
            list-style: none;
            margin: 10px 0 0 0;
        }

        .form-style-1 label {
            margin: 0 0 3px 0;
            padding: 0px;
            display: block;
            font-weight: bold;
        }

        .form-style-1 input[type=text],
        .form-style-1 input[type=date],
        .form-style-1 input[type=datetime],
        .form-style-1 input[type=number],
        .form-style-1 input[type=search],
        .form-style-1 input[type=time],
        .form-style-1 input[type=url],
        .form-style-1 input[type=email],
        textarea,
        select {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            border: 1px solid #BEBEBE;
            padding: 7px;
            margin: 0px;
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            outline: none;
        }

            .form-style-1 input[type=text]:focus,
            .form-style-1 input[type=date]:focus,
            .form-style-1 input[type=datetime]:focus,
            .form-style-1 input[type=number]:focus,
            .form-style-1 input[type=search]:focus,
            .form-style-1 input[type=time]:focus,
            .form-style-1 input[type=url]:focus,
            .form-style-1 input[type=email]:focus,
            .form-style-1 textarea:focus,
            .form-style-1 select:focus {
                box-shadow: 0 0 8px red;
                border: 1px solid #FB2F2F;
            }

        .form-style-1 .field {
            width: 100%;
        }

        .form-style-1 .field-textarea {
            height: 100px;
        }

    .column1 {
        float: left;
        width: 100%;
        padding: 10px;
        height: 100%;
        border-top: solid;
        border-color: #4D4D4D;
    }

    .column2 {
        float: left;
        width: 30%;
        padding: 10px;
        height: 300px;
        border-top: solid;
        border-color: #4D4D4D;
    }

    .inner {
        display: table;
        position: center;
        width: 100%;
        margin: 0 auto;
    }

    .row {
        display: table-row;
    }

    .cell {
        display: table-cell;
    }

    .gradient1 { /* transform cu transparenta mica */
        background: linear-gradient(to left, white, #BFBFBF);
    }

    .gradient2 {
        background: linear-gradient(to right, white, #BFBFBF);
        height: 10%;
    }

    .body {
        background-image: url("/images/Hangar_home.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }

    .h {
        text-shadow: 1px 1px 10px black;
        color: white;
    }
</style> <!-- To do rezolva path wroot css pentru script tag >-->

<script src="~/css/"></script>

<script src="~/js/site.js"></script>
<script src="Controllers/controller.js"></script>
<body class="body">

    <h1 class="h">Store</h1>
    <div>
        <div class="inner">
            <div class="row">
                <div class="cell"><button class="button button1"> Piese motor</button></div>
                <div class="cell"><button class="button button1"> Piese exterior</button></div>
                <div class="cell"><button class="button button1"> Piese interior</button></div>
                <div class="cell"><button class="button button1"> Produse decorative</button></div>
            </div>
        </div>
        <!-- at{
        var db = MagazinAuto.Data.ApplicationDbContext.;
        List<MagazinAuto.> products = db.Piesa.ToList();
        } -->
        <div class="column1 gradient1 text">
            <h2>List of items you want to buy</h2>
            <div class="row text">
                <!--at{
        foreach (var prod in products)
        {
            <div class="cell">
                <label>Nume produs: </label>a prod.Nume
                <label>Pret produs: </label>a prod.Pret
                <button class="buttoneliminare buttoneliminare1"> Add </button>
                bag <- true
            </div>
        }
    }-->
                <div class="cell">
                    Item 1 luat din data base
                </div>
                <div class="cell">
                    <button class="buttoneliminare buttoneliminare1"> Add </button>
                </div>
            </div>
            <div class="row text">
                <div class="cell">
                    Item 2 luat din data base
                </div>
                <div class="cell">
                    <button class="buttoneliminare buttoneliminare1"> Add </button>
                </div>
            </div>
            <select class="button">
                <option value="Name">Order by: Name</option>
                <option value="Price">Order by: Price</option>
                <option value="Date">Order by: Date</option>
                <option value="Stock">Order by: Stock</option>
            </select>
        </div>
        
    </div>
</body>